{{/*
  Schema.org Structured Data
  Generates JSON-LD for different content types
  Uses dict + jsonify pattern to avoid escaping issues
*/}}

{{/* Person Schema - for /people/ single pages */}}
{{ if and (eq .Section "people") .IsPage }}
  {{ $personKey := .File.ContentBaseName }}
  {{ $person := index .Site.Data.people $personKey }}
  {{ if $person }}
    {{ $schema := dict
      "@context" "https://schema.org"
      "@type" "Person"
      "name" $person.name
      "url" .Permalink
    }}
    {{ with $person.role }}{{ $schema = merge $schema (dict "jobTitle" .) }}{{ end }}
    {{ with $person.department }}{{ $schema = merge $schema (dict "worksFor" (dict "@type" "Organization" "name" .)) }}{{ end }}
    {{ with $person.description }}{{ $schema = merge $schema (dict "description" (. | plainify | truncate 200)) }}{{ end }}
    <script type="application/ld+json">{{ $schema | jsonify | safeHTML }}</script>
  {{ end }}
{{ end }}

{{/* LegalCase Schema - for /litigation/ single pages */}}
{{ if and (eq .Section "litigation") .IsPage }}
  {{ $caseKey := .File.ContentBaseName }}
  {{ $case := index .Site.Data.litigation $caseKey }}
  {{ if $case }}
    {{ $schema := dict
      "@context" "https://schema.org"
      "@type" "LegalCase"
      "name" $case.title
      "url" .Permalink
    }}
    {{ with $case.case_number }}{{ $schema = merge $schema (dict "identifier" .) }}{{ end }}
    {{ with $case.court }}{{ $schema = merge $schema (dict "court" (dict "@type" "Organization" "name" .)) }}{{ end }}
    {{ with $case.filed_date }}{{ $schema = merge $schema (dict "datePublished" (. | time.Format "2006-01-02")) }}{{ end }}
    <script type="application/ld+json">{{ $schema | jsonify | safeHTML }}</script>
  {{ end }}
{{ end }}

{{/* Event Schema - for /timeline/ single pages only */}}
{{ if and (eq .Section "timeline") .IsPage }}
  {{ $schema := dict
    "@context" "https://schema.org"
    "@type" "Event"
    "name" .Title
    "startDate" (.Date.Format "2006-01-02")
    "url" .Permalink
  }}
  {{ with .Params.location }}{{ $schema = merge $schema (dict "location" (dict "@type" "Place" "name" .)) }}{{ end }}
  {{ with .Description }}{{ $schema = merge $schema (dict "description" (. | plainify | truncate 200)) }}{{ end }}
  <script type="application/ld+json">{{ $schema | jsonify | safeHTML }}</script>
{{ end }}

{{/* CreativeWork Schema - for /depositions/ single pages */}}
{{ if and (eq .Section "depositions") .IsPage }}
  {{ $depoKey := .File.ContentBaseName }}
  {{ $depo := index .Site.Data.depositions $depoKey }}
  {{ if $depo }}
    {{ $schema := dict
      "@context" "https://schema.org"
      "@type" "CreativeWork"
      "name" ($depo.title | default .Title)
      "additionalType" "Deposition"
      "url" .Permalink
    }}
    {{ with $depo.date }}{{ $schema = merge $schema (dict "dateCreated" (. | time.Format "2006-01-02")) }}{{ end }}
    {{ with $depo.deponent }}{{ $schema = merge $schema (dict "about" (dict "@type" "Person" "name" .name)) }}{{ end }}
    <script type="application/ld+json">{{ $schema | jsonify | safeHTML }}</script>
  {{ end }}
{{ end }}

{{/* BreadcrumbList Schema - for all non-home pages */}}
{{ if not .IsHome }}
  {{ $items := slice
    (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.BaseURL)
  }}
  {{ if .Section }}
    {{ $items = $items | append (dict "@type" "ListItem" "position" 2 "name" (.Section | humanize | title) "item" (printf "%s%s/" .Site.BaseURL .Section)) }}
  {{ end }}
  {{ if and .Section (not .IsSection) }}
    {{ $items = $items | append (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink) }}
  {{ end }}
  {{ $schema := dict
    "@context" "https://schema.org"
    "@type" "BreadcrumbList"
    "itemListElement" $items
  }}
  <script type="application/ld+json">{{ $schema | jsonify | safeHTML }}</script>
{{ end }}

{{/* Organization Schema - for homepage */}}
{{ if .IsHome }}
  {{ $schema := dict
    "@context" "https://schema.org"
    "@type" "Organization"
    "name" .Site.Title
    "url" .Site.BaseURL
    "description" .Site.Params.description
  }}
  <script type="application/ld+json">{{ $schema | jsonify | safeHTML }}</script>
{{ end }}
